{% load static %}


<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >{% block title%}{% endblock title%} Classroom </title>
    <link rel ="stylesheet" href="{% static 'classroom/style.css' %}">
</head>
<body>

    <header class="header">

    <nav class="navbar">
        <a class="logo"href=" {% url 'index' %}">
            <img class="logo-img" src="https://www.gstatic.com/classroom/logo_square_rounded.svg" alt="">
            <span class="logo-text">Classroom >  {{ current_subject.name }}</span>
        </a>
        <a class="add-link"href="{% url 'add' %}">Добавить +</a>
    </nav>
    <div class="header-line"></div>
    </header >

    <section class="menu">
    <div class="left-column">
    <div class="subject-list">
    {% for subject in subjects %}
    <a class="subject-item" href="{% url 'by_subject' subject.pk %}">{{ subject.name }}</a>
    {% endfor %}
    </div>
    </div>
    <div class="right-column">
        {% block content %}
        
        {% endblock content %}
    </div>
    </section>
</body>
</html>